body {
    header {
        nav {
            background-color: map-get($header, bg-header);
        }
        .container-nav {
            margin: 0 $spacing-medium 0 $spacing-small;
            .logo-fa {
                width: 10%;
            }
        }
        .code-slash-modif {
            color: $active-color;
            margin-right: 0.5rem;
        }
        .navbar-nav-modif {
            gap: map-get($header, spacing);
            font-family: map-get($header, font-family);
        }
        .navbar-nav .nav-link.active,
        .navbar-nav .show > .nav-link {
            color: map-get($header, bg-buton);
        }
        .btn-outline-success {
            color: map-get($header, bg-buton);
            border-color: map-get($header, bg-buton);
        }
        .nav-link-modif {
            position: relative;
            background-image: linear-gradient(70deg, $text-color, gold);
            background-repeat: no-repeat;
            background-size: 0% .125rem;
            background-position: center bottom;
            transition: background-size .3s ease-in-out;
            &:hover {
                color: linear-gradient(10deg, $text-color, gold);
                background-size: 100% .125rem;
            }
        }
        .nav-link {
            &::after {
                content: "";
                background-image: $active-color;
                position: absolute;
                left: 0;
                top: 95%;
                width: 100%;
                height: .125rem;
                opacity: 0;
                border-radius: 1em;
            }
        }
        .nav-link.active {
            position: relative;
            &:hover {
                transform: none;
                background-color: none;
                cursor: default;
            }
            &::after {
                opacity: 1;
                background-color: $active-color;
            }
        }
    }
}